requests
pandas
google-genai
tenacity
tqdm
scikit-learn
matplotlib==3.6.2
requests==2.28.2
torch==2.0.0+cpu --index-url https://download.pytorch.org/whl/cpu
torchvision==0.15.0+cpu --index-url https://download.pytorch.org/whl/cpu
torchaudio==0.15.0+cpu --index-url https://download.pytorch.org/whl/cpu
numpy
streamlit
fastapi
uvicorn
python-dotenv
